.welcome {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    img {
        height: 20rem;
    }
    span {
        color: var(--mainAccentColor);
    }
}

.message_inner {
    position: relative;
    padding: 10px 0 10px 0;
    overflow: scroll;
    height: calc(100% - 70px);
    border-bottom: 1px solid var(--hover-btn-theme);
    scrollbar-width: none; /*mozilla*/
    &::-webkit-scrollbar {
        display: none; /*chrome*/
    }
}

.mesage_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid var(--hover-btn-theme);
    & .message_user {
        display: flex;
        align-items: center;
        gap: 0 10px;
        & img {
            border-radius: 50%;
        }
    }
}

.message_dropdown {
    &:hover .message_dropdown-content {
        display: block;
    }
    position: relative;
    display: inline-block;
    &_content {
        border: 1px solid var(--hover-btn-theme);
        border-radius: 15px;
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--additionalAccentColor);

        min-width: 235px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        & span {
            display: flex;
            align-items: center;
            &:has(svg) {
                justify-content: space-around;
            }
            cursor: pointer;
            &:last-child {
                border-radius: 0 0 15px 15px;
            }
            &:first-child {
                border-radius: 15px 15px 0 0;
            }
            &:hover {
                background-color: var(--hover-btn-theme);
            }
            color: var(--font-primary);
            padding: 10px;
            text-decoration: none;
        }
    }
}

.message_dropdown:hover .message_dropdown_content {
    display: block;
}

.dropBtn {
    opacity: 0.7;
    width: 35px;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

.chat_bubble {
    max-width: 550px;
    padding: 10px 14px;
    margin: 5px 20px;
    border-radius: 9px;
    position: relative;
    color: var(--font-primary);
    &:after {
        content: "";
        position: absolute;
        top: 74%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-bottom: 0;
        margin-top: -10px;
    }

    &__left {
        min-width: 69px;
        margin: 16px 5px 8px 20px;
        background: var(--hover-btn-theme);
        z-index: 1;
        .edit {
            position: absolute;
            color: var(--font-primary);
            top: 50%;
            transform: translateY(-50%);
            right: -45px;
        }
        &:after {
            position: absolute;
            z-index: -1;
            left: 8px;
            border-right-color: var(--hover-btn-theme);
            border-left: 0;
            margin-left: -20px;
        }
    }

    &__right {
        min-width: 69px;
        margin: 16px 20px 8px 5px;
        background: var(--mainAccentColor);
        color: #fff;
        &.edit {
            position: absolute;
            color: var(--font-primary);
            top: 50%;
            transform: translateY(-50%);
            left: -45px;
        }
        &:after {
            right: 8px;
            border-left-color: var(--mainAccentColor);
            border-right: 0;
            margin-right: -20px;
        }
    }
}

.no_gutters {
    margin-right: 0;
    margin-left: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    .toggleSvg {
        display: none;
        & path {
            fill: var(--font-primary);
        }
    }
}

.row:has(.toggleSvg) {
    cursor: pointer;
}

.row:hover .toggleSvg {
    display: block;
}

.row:has(.chat_bubble__right) {
    & svg {
        transform: scaleX(-1);
    }
}

.row:has(.chat_bubble__left) {
    & button {
        transform: scaleX(1);
        background: var(--additionalAccentColor);
        & svg path {
            fill: var(--font-primary);
        }
    }
    & .message__audio_info {
        div svg path {
            fill: var(--font-primary);
        }
        span {
            color: var(--font-primary);
        }
    }
}

.row:has(.chat_bubble__left) {
    justify-content: flex-start;
}

.messges_input {
    position: relative;
    padding: 10px;
    & div {
        border-radius: 15px;
    }
    gap: 0 10px;
    display: flex;
    align-items: center;
}

.mesg_editing {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    & svg {
        cursor: pointer;
        path {
            fill: var(--font-primary);
        }
    }
}

main:has(.mesg_editing) {
    grid-template-rows: calc(100% - 95px) 95px;
}

.messges_emoji {
    position: relative;
    &:hover aside {
        display: block;
    }
    svg {
        width: 50px;
        height: 50px;
    }
    svg path {
        display: block;
        flex-direction: row;
        fill: var(--mainAccentColor);
    }
    & aside {
        // display: none !important;
        z-index: 2;
        position: absolute !important;
        border: 1px solid var(--hover-btn-theme) !important;
        border-radius: 15px;
        position: absolute;
        bottom: 40%;
        left: 0;
        background-color: var(--additionalAccentColor);
        ::-webkit-scrollbar {
            background-color: var(--hover-btn-theme);
            width: 5px;
        }
        & div:nth-child(2) {
            & ul li {
                & div:nth-child(1) {
                    background-color: var(--additionalAccentColor);
                    color: var(--font-primary);
                }
            }
        }
        & div:nth-child(3) {
            display: none !important;
        }
    }
}

.time {
    width: 82px;
    position: absolute;
    color: var(--font-primary);
    font-size: 0.6rem;
    top: -15px;
    right: -15px;
}

.edit {
    position: absolute;
    color: var(--font-primary);
    transform: translateY(-50%);
    &__left {
        right: -45px;
    }
    &__right {
        left: -45px;
    }
}

.messges_record {
    cursor: pointer;
    width: 50px;
    fill: var(--mainAccentColor);
    animation: reverse 0.2s im-zoom-hide;
    &:hover {
        fill: var(--mainAccentColor-hover);
    }
    &_status {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: center;
        span {
            font-size: 1.5rem;
            color: #f56b6b;
            clip-path: inset(0 1.4ch 0 0);
            animation: threePoint 1s ease-in-out infinite;
        }
        &_bubble {
            display: inline-block;
            position: relative;
            height: 10px;
            width: 10px;
            background-color: #f56b6b;
            border-radius: 30px;
            margin-right: 8px;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 10px;
                width: 10px;
                background-color: rgba(245, 107, 107, 0.5);
                border-radius: 30px;
                animation: wave-animation 1s ease-in-out infinite;
                transition: transform 0.15s ease-in-out;
                transform: scale(1);
            }
        }
        &_close {
            cursor: pointer;
            width: 50px;
            height: 40px;
            fill: var(--mainAccentColor);
            &:hover {
                fill: var(--mainAccentColor-hover);
            }
        }
    }
}

.messges_send {
    cursor: pointer;
    width: 50px;
    height: 40px;
    fill: var(--mainAccentColor);
    animation: reverse 0.2s im-zoom-hide;
    &:hover {
        fill: var(--mainAccentColor-hover);
    }
}
.messges_del {
    cursor: pointer;
    width: 50px;
    height: 40px;
    fill: var(--mainAccentColor);
    animation: reverse 0.2s im-zoom-hide;
    &:hover {
        fill: var(--mainAccentColor-hover);
    }
}

.message__audio {
    audio {
        display: none;
    }
    &_info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        gap: 0 10px;
    }
    &_btn {
        button {
            transform: scaleX(-1);
            display: flex;
            cursor: pointer;
            border: 0;
            height: 28px;
            border-radius: 30px;
            background: var(--mainAccentColor-hover);
        }
        svg {
            height: 13px;
            width: 13px;
            position: relative;
        }
    }
    &_duration {
        color: #fff;
        font-weight: 500;
        opacity: 0.8;
        font-size: 12px;
    }
    &_progress {
        border-radius: 9px;
        left: 0;
        top: 0;
        position: absolute;
        background-color: var(--mainAccentColor-voice);
        height: 100%;
        transition: width 0.3s linear;
    }
}

.files {
    width: 100%;
    max-width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 1px 1px;
    & .file {
        overflow: hidden;
        position: relative;
        max-width: 350px;
        max-height: 350px;
        background-color: var(--hover-btn-theme);
        & img {
            width: 100%;
            height: 100%;
            max-width: 350px;
            max-height: 350px;
            transition: filter 0.3s ease;
            object-fit: cover;
        }
        &:hover {
            & img {
                filter: brightness(70%);
            }
        }
        &:first-child:nth-last-child(1) {
            width: 100%;
        }
        &:first-child:nth-last-child(2),
        &:first-child:nth-last-child(2) ~ .file {
            &:nth-child(n + 1) {
                max-width: 164px;
                max-height: 350px;
            }
        }
        &:first-child:nth-last-child(3),
        &:first-child:nth-last-child(3) ~ .file {
            &:first-child {
                max-width: 350px;
                max-height: 350px;
            }
            &:nth-child(n + 2) {
                max-width: 164px;
                max-height: 350px;
            }
        }
        &:first-child:nth-last-child(4),
        &:first-child:nth-last-child(4) ~ .file {
            &:first-child {
                max-width: 350px;
                max-height: 350px;
            }
            &:nth-child(n + 2) {
                max-width: 109px;
                max-height: 350px;
            }
        }
        &:first-child:nth-last-child(5),
        &:first-child:nth-last-child(5) ~ .file {
            &:first-child {
                max-width: 327px;
                max-height: 350px;
            }
            &:nth-child(n + 2) {
                max-width: 81px;
                max-height: 350px;
            }
        }
        &:first-child:nth-last-child(6),
        &:first-child:nth-last-child(6) ~ .file {
            &:nth-child(n + 1) {
                max-width: 164px;
                max-height: 350px;
            }
        }
        &:first-child:nth-last-child(7),
        &:first-child:nth-last-child(7) ~ .file {
            &:nth-child(n + 1) {
                max-width: 164px;
                max-height: 350px;
            }
        }
        &:first-child:nth-last-child(7),
        &:first-child:nth-last-child(7) ~ .file {
            &:nth-child(n + 1) {
                max-width: 164px;
                max-height: 350px;
            }
            &:nth-child(n + 5) {
                max-width: 109px;
                max-height: 350px;
            }
        }
        &:first-child:nth-last-child(8),
        &:first-child:nth-last-child(8) ~ .file {
            &:nth-child(n + 1) {
                max-width: 323px;
                max-height: 350px;
            }
            &:nth-child(n + 2) {
                max-width: 107px;
                max-height: 350px;
            }
            &:nth-child(n + 5) {
                max-width: 80px;
                max-height: 350px;
            }
        }
        &:first-child:nth-last-child(9),
        &:first-child:nth-last-child(9) ~ .file {
            &:nth-child(n + 1) {
                max-width: 323px;
                max-height: 350px;
            }
            &:nth-child(n + 2) {
                max-width: 80px;
                max-height: 350px;
            }
        }
        &:first-child:nth-last-child(10),
        &:first-child:nth-last-child(10) ~ .file {
            &:nth-child(n + 1) {
                max-width: 319px;
                max-height: 350px;
            }
            &:nth-child(n + 2) {
                max-width: 79px;
                max-height: 350px;
            }
            &:nth-child(n + 6) {
                max-width: 63px;
                max-height: 350px;
            }
        }
    }
}

.arrow {
    &_wrap {
        display: flex;
        align-items: center;
        top: 0;
        position: absolute;
        height: 100%;
        left: 0;
        transition: background-color 0.3s ease;
        &:has(.arrow_right) {
            right: 0;
            left: unset;
        }
        &:hover {
            cursor: pointer;
            background-color: #0000001f;
            .arrow {
                filter: brightness(50%);
            }
        }
    }
    fill: var(--mainAccentColor);
    transition: all 0.3s ease;
    &_left {
        margin-left: 15px;
    }
    &_right {
        margin-right: 15px;
        transform: rotate(180deg);
    }
}

@keyframes wave-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes threePoint {
    to {
        clip-path: inset(0 -1ch 0 0);
    }
}

@keyframes im-zoom-hide {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    49% {
        opacity: 1;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
    50% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
}
