button {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #0000;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.primary {
    color: var(--white) !important;

    & a {
        color: inherit;
    }
    background-color: var(--mainAccentColor);
    border-color: var(--mainAccentColor);
    &:hover {
        background-color: var(--mainAccentColor-hover);
        border-color: var(--mainAccentColor-hover);
    }
    &:focus {
        box-shadow: 0 0 0 0.1rem var(--mainAccentColor-hover);
    }
    &:active {
        background-color: var(--mainAccentColor-active);
        border-color: var(--mainAccentColor-active);
    }
    &:disabled {
        cursor: auto;
        background-color: var(--mainAccentColor-active);
        border-color: var(--mainAccentColor-active);
    }
}
