*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    font-family: var(--main-font-family);
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    transition: all 0.3s ease-in-out;
    font-size: var(--font-size);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: var(--font-primay);
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
    color: var(--font-primary);
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
}

h2 {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 44px;

    letter-spacing: 0.04em;
}

a {
    text-decoration: none;
}

p {
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 150%;

    letter-spacing: 0.05em;
}
