.form {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    letter-spacing: 0.009em;
    background-color: var(--primary-color);

    width: 100%;
    position: relative;
    height: 50px;
    overflow: hidden;
    & img {
        position: absolute;
        bottom: 6px;
        left: 3px;
    }
    & input {
        background-color: var(--primary-color) !important;
        width: 100%;
        height: 100%;
        color: var(--font-primary) !important;
        appearance: inherit !important;
        font-family: "Fira Sans";
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        padding-left: 26px;
        letter-spacing: 0.009em;

        padding-top: 20px;
        border: none;
        outline: none;
        &:focus + .labelName::after,
        :valid + .labelName::after {
            transform: translateX(0%);
        }
        &:focus + .labelName .contentName,
        :valid + .labelName .contentName {
            transform: translateY(-150%);
            left: 1px;
            color: var(--font-primary);
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.009em;
        }
    }
    & label {
        position: absolute;
        bottom: 0;
        left: 10px;
        width: 100%;
        height: 100%;
        pointer-events: none;
        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            left: -5px;
            bottom: -1px;
            border-bottom: 3px solid var(--mainAccentColor);
            transform: translateX(-100%);
            transition: all 0.3s ease-in-out;
        }
    }
    & .contentName {
        position: absolute;
        bottom: 15px;
        left: 15px;
        transition: all 0.3s ease-in-out;
    }
}

.form input:focus ~ .labelName .contentName,
.form input:valid ~ .labelName .contentName {
    transform: translateY(-150%);
    bottom: 5px;
    left: 1px;
    color: #b3b3b3;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.009em;
}
